table, tr, td, th {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

.pageheader {
  background-color: Black;
  margin-top: 0px;
  padding: 20px 20px 20px 40px;

}

.sitetitle {
  color: white;
  font-family: 'Cherry Cream Soda', cursive;
}

.charttitle {
  color: black;
  font-family: 'Cherry Cream Soda', cursive;
}

.subtitle {
  font-family: 'Architects Daughter', cursive;
  text-align: center;
}

.hellouser {
  color: orange;
  font-family: 'Architects Daughter', cursive;
}

.displaylist {
  text-align: center;
  margin: auto;
}

.posttitle {
  color: green;
  font-family: 'Cherry Cream Soda', cursive;
  text-align: center;
}

.posttitle2 {
  color: green;
  font-family: 'Cherry Cream Soda', cursive;
  text-align: center;
  font-size: 125%;
}


.table1, .table1 th, .table1 td {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
}

.linkpadding {
  padding: 15px 20px 20px 20px;
}

.Rounddata, .Rounddata th, .Rounddata td {
  padding: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 100px;
  width: 100px;
  text-align: center;
}

p, a {
  margin-left: 0px;
  color: white;
  text-align: center;
}

.para {
  color: black;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  font-size: 125%;
}

ul {
    list-style-position: inside;
    text-align: left;
}


.para2 {
  color: black;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  font-size: 125%;
}

.para3 {
  color: green;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  font-size: 150%;
}

.para_link {
  color: white;
  background-color: green;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
}

.btn a:hover, .btn a:focus {
    color: red;
    font-family: 'Architects Daughter', cursive;
}

.btn-block {
    font-family: 'Architects Daughter', cursive;
}

.classybox {
  width: 50px;
  text-align: center;
}

.spacer {
    height: 20px;
}

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
