table, tr, td, th {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  text-align: center;
}

.pageheader {
  background-color: Black;
  margin-top: 0px;
  padding: 20px 20px 20px 40px;

}

.sitetitle {
  color: white;
  font-family: 'Lobster', cursive;
}

.charttitle {
  color: black;
  font-family: 'Lobster', cursive;
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.hellouser {
  color: orange;
  font-family: 'Raleway', sans-serif;
}

.displaylist {
  text-align: center;
  margin: auto;
}

.posttitle {
  color: green;
  font-family: 'Lobster', cursive;
  text-align: center;
}


.table1, .table1 th, .table1 td {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
}

.linkpadding {
  padding: 20px 20px 20px 20px;
}

.Rounddata, .Rounddata th, .Rounddata td {
  padding: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 100px;
  width: 100px;
  text-align: center;
}

p, a {
  margin-left: 0px;
  color: white;
  text-align: center;
}

.para {
  color: black;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.para_link {
  color: white;
  background-color: green;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.btn a:hover, .btn a:focus {
    color: red;
}

.classybox {
  width: 50px;
  text-align: center;
}

.spacer {
    height: 20px;
}
