{% extends "base.html" %}
{% load calcs %}

{% block content %}
  <div class="pageheader">
    <h1 class="sitetitle">Local Golf League - My Dashboard</h1>
    {% if user.is_authenticated %}
      <p class="hellouser">Hello {{ user.username }} <small>(<a class="text-muted" href="{% url 'logout' %}">Log out</a>)</small></p>
      <p><a href ="{% url 'homepage' %}" class="hellouser">Homepage <span class="glyphicon glyphicon-home"></span></a>｜
      <a href="{% url 'golfscore_preentry' %}" class="hellouser">New Golf Round <span class="glyphicon glyphicon-plus"></span></a>｜
      <a href ="{% url 'leaguetable' %}" class="hellouser">Leaguetable <span class="glyphicon glyphicon-list"></span></a></p>
    {% else %}
      <a href="{% url 'login' %}" class="hellouser">Login <span class="glyphicon glyphicon-lock"></span></a>
      <a href="{% url 'register' %}" class="hellouser">Register <span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
  </div>
  <div class="col-xs-12" style="height:15px;"></div>
  <div>
    {% if noofscores == 0 %}
      <p class="posttitle2">Here is your dashboard!</p>
      <p class="para2">Enter data for the golfrounds you play (individually and as leaguematches) and they will appear under "My lastest scores" below.</p>
      <p class="para2">You can track your scores over time & % of good shots for each shot type with the blue buttons below.</p>
      <p class="para2">Your handicap is the average of the scores you enter.</p>
      <p class="para2"><strong>Click on "New golf round+" to enter a new golfscore. </strong>｜<a href="{% url 'golfscore_preentry' %}" class="hellouser">New Golf Round <span class="glyphicon glyphicon-plus"></span></a></p>
      <p class="para2"><strong>Click on "Homepage" to view the leaguetable and golfscores from all users.</strong>｜<a href ="{% url 'homepage' %}" class="hellouser">Homepage <span class="glyphicon glyphicon-home"></span></a></p>
      <p class="para2"><strong>Or go to "Leaguetable" to find out how to enter the league...</strong>｜<a href ="{% url 'leaguetable' %}" class="hellouser">Leaguetable <span class="glyphicon glyphicon-list"></span></a></p>
    {% endif %}
  </div>

  <div class="col-xs-12" style="height:15px;"></div>
    <button type="button" class="btn btn-primary btn-lg btn-block"><a href="{% url 'plot2' %}">Scores Over Time</a></button>
    <button type="button" class="btn btn-primary btn-lg btn-block"><a href="{% url 'plot' %}">% Good Shot type</a></button>
  <div class="col-xs-12" style="height:15px;"></div>

  <p class="posttitle">Handicap: {{ handicap|floatformat:1 }}</p>
  <h1 class="subtitle">My Latest Scores:</h1>

  <div class="container">
    <div class="row">
        {% for totalscores, shotpercentages, golfscores in combolist %}
            {% if totalscores.author == user %}
                <div class="col-md-4">
                  <h1><a class="posttitle", href="{% url 'golfscore_detail' pk=golfscores.pk %}">{{ golfscores.course }}</a></h1>
                  <p class="para">{{ totalscores.overunderpar }} over par!!</p>
                  <table class="table1">
                    <thead>
                      <tr>
                        <th>Scorecard</th>
                        <th>Par </th>
                        <th>Player Score</th>
                      </tr>
                      <tr>
                        <td>Front 9 </td>
                        <td>{{ totalscores.courseoutwards}}</td>
                        <td>{{ totalscores.scoreoutwards }}</td>
                      </tr>
                      <tr>
                        <td>Back 9 </td>
                        <td>{{ totalscores.courseinwards }}</td>
                        <td>{{ totalscores.scoreinwards }}</td>
                      </tr>
                      <tr>
                        <td>Total </td>
                        <td>{{ totalscores.coursepar }}</td>
                        <td>{{ totalscores.scoretotal }}</td>
                      </tr>
                    </thead>
                  </table>
                  <p></p>
                  <table class="table1">
                    <tr>
                      <th>Drive </th>
                      <th>Longiron </th>
                      <th>Approach </th>
                      <th>Chip </th>
                      <th>Putt </th>
                    </tr>
                    <tr>
                      <td>{{ shotpercentages.drivepercentage }}%</td>
                      <td>{{ shotpercentages.longironpercentage }}%</td>
                      <td>{{ shotpercentages.approachpercentage }}%</td>
                      <td>{{ shotpercentages.chippercentage }}%</td>
                      <td>{{ shotpercentages.puttpercentage }}%</td>
                    </tr>
                  </table>
                  <div class="col-xs-12" style="height:5px;"></div>
                  <p class="para">{{ golfscores.published_date }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
  </div>

{% endblock %}
