import os
import sys

path = '/home/Golfdata/golfdata'
if path not in sys.path:
    sys.path.append(path)

os.environ['DJANGO_SETTINGS_MODULE'] = 'golfdata.settings'

from django.core.wsgi import get_wsgi_application
from django.contrib.staticfiles.handlers import StaticFilesHandler
application = StaticFilesHandler(get_wsgi_application())


























<div>
  <p class="para">A "good" shot is one that achieves the intended outcome before hitting the shot and a "bad" shot is everything else.</p>
  <p class="para">Example "good" shot definitions:</p>
  <p class="para"><strong>Drive</strong> = Stops in the Fairway at normal diving distance.</p>
  <p class="para"><strong>Longiron</strong> = A good strike which travels the expected distance in the intended direction.</p>
  <p class="para"><strong>Approach</strong> = Stops on the green.</p>
  <p class="para"><strong>Chip</strong> = Stops on the green within putting distance.</p>
  <p class="para"><strong>Putt</strong> = No more than 2 putts per hole and 1 putt if the first putt is less than 2 meters from the hole.</p>
</div>

class ShotPercentages(models.Model):
    author = models.ForeignKey(User, on_delete=models.CASCADE, default=1)
    drivepercentage = models.IntegerField(default=1)
    longironpercentage = models.IntegerField(default=1)
    approachpercentage = models.IntegerField(default=1)
    chippercentage = models.IntegerField(default=1)
    puttpercentage = models.IntegerField(default=1)

    opponent1 = models.ForeignKey(User, on_delete=models.CASCADE, related_name='opponent1', default=None, null=True, blank=True)
    opponent2 = models.ForeignKey(User, on_delete=models.CASCADE, related_name='opponent2', default=None, null=True, blank=True)
    opponent3 = models.ForeignKey(User, on_delete=models.CASCADE, related_name='opponent3', default=None, null=True, blank=True)

    """
          if s.scoretotal < x.o1totalscore:
              lt = Leaguetable.objects.filter(player=x.author)
              lt = list(lt[:1])
              lt = lt[0]
              newwon = lt.won + 1
              newpoints = lt.points + 2
              t = Leaguetable(pk=lt.pk, won=newwon, lost=lt.lost, drawn=lt.drawn, points=newpoints, player=lt.player)
              t.save()
              return redirect('display')
          elif s.scoretotal == x.o1totalscore:
              lt = Leaguetable.objects.filter(player=x.author)
              lt = list(lt[:1])
              lt = lt[0]
              newdrawn = lt.drawn + 1
              newpoints = lt.points + 1
              t = Leaguetable(pk=lt.pk, won=lt.won, lost=lt.lost, drawn=newdrawn, points=newpoints, player=lt.player)
              t.save()
              return redirect('display')
          else:
              lt = Leaguetable.objects.filter(player=x.author)
              lt = list(lt[:1])
              lt = lt[0]
              newlost = lt.lost + 1
              t = Leaguetable(pk=lt.pk, won=lt.won, lost=newlost, drawn=lt.drawn, points=lt.points, player=lt.player)
              t.save()
              return redirect('display')
              """

Golfscore detail
    <!--
      {% partotals golfscores.par1 golfscores.par2 golfscores.par3 golfscores.par4 golfscores.par5 golfscores.par6 golfscores.par7 golfscores.par8 golfscores.par9 golfscores.par10 golfscores.par11 golfscores.par12 golfscores.par13 golfscores.par14 golfscores.par15 golfscores.par16 golfscores.par17 golfscores.par18 golfscores.score1 golfscores.score2 golfscores.score3 golfscores.score4 golfscores.score5 golfscores.score6 golfscores.score7 golfscores.score8 golfscores.score9 golfscores.score10 golfscores.score11 golfscores.score12 golfscores.score13 golfscores.score14 golfscores.score15 golfscores.score16 golfscores.score17 golfscores.score18 as partotalscores %}
      <p> {{ partotalscores.6}} over par!!</p>
      <table class="table1">
        <thead>
          <tr>
            <th>Scorecard</th>
            <th>Par </th>
            <th>Player Score</th>
          </tr>
          <tr>
            <td>Front 9 </td>
            <td>{{ partotalscores.0 }}</td>
            <td>{{ partotalscores.3 }}</td>
          </tr>
          <tr>
            <td>Back 9 </td>
            <td>{{ partotalscores.1 }}</td>
            <td>{{ partotalscores.4 }}</td>
          </tr>
          <tr>
            <td>Total </td>
            <td>{{ partotalscores.2 }}</td>
            <td>{{ partotalscores.5 }}</td>
          </tr>
        </thead>
      </table>
    </p>
    <table class="table1">
      <tr>
        <th>Drive </th>
        <th>Longiron </th>
        <th>Approach </th>
        <th>Chip </th>
        <th>Putt </th>
      </tr>
      <tr>
        <td>{% drive golfscores.drive1 golfscores.drive2 golfscores.drive3 golfscores.drive4 golfscores.drive5 golfscores.drive6 golfscores.drive7 golfscores.drive8 golfscores.drive9 golfscores.drive10 golfscores.drive11 golfscores.drive12 golfscores.drive13 golfscores.drive14 golfscores.drive15 golfscores.drive16 golfscores.drive17 golfscores.drive18 %}% </td>
        <td>{% longiron golfscores.longiron1 golfscores.longiron2 golfscores.longiron3 golfscores.longiron4 golfscores.longiron5 golfscores.longiron6 golfscores.longiron7 golfscores.longiron8 golfscores.longiron9 golfscores.longiron10 golfscores.longiron11 golfscores.longiron12 golfscores.longiron13 golfscores.longiron14 golfscores.longiron15 golfscores.longiron16 golfscores.longiron17 golfscores.longiron18 %}%</td>
        <td>{% approach golfscores.approach1 golfscores.approach2 golfscores.approach3 golfscores.approach4 golfscores.approach5 golfscores.approach6 golfscores.approach7 golfscores.approach8 golfscores.approach9 golfscores.approach10 golfscores.approach11 golfscores.approach12 golfscores.approach13 golfscores.approach14 golfscores.approach15 golfscores.approach16 golfscores.approach17 golfscores.approach18 %}%</td>
        <td>{% chip golfscores.chip1 golfscores.chip2 golfscores.chip3 golfscores.chip4 golfscores.chip5 golfscores.chip6 golfscores.chip7 golfscores.chip8 golfscores.chip9 golfscores.chip10 golfscores.chip11 golfscores.chip12 golfscores.chip13 golfscores.chip14 golfscores.chip15 golfscores.chip16 golfscores.chip17 golfscores.chip18 %}%</td>
        <td>{% putt golfscores.putt1 golfscores.putt2 golfscores.putt3 golfscores.putt4 golfscores.putt5 golfscores.putt6 golfscores.putt7 golfscores.putt8 golfscores.putt9 golfscores.putt10 golfscores.putt11 golfscores.putt12 golfscores.putt13 golfscores.putt14 golfscores.putt15 golfscores.putt16 golfscores.putt17 golfscores.putt18 %}%</td>
      </tr>
    </table>
    -->

<!--
  <div class="container">
    <div class="row">
        {% for golfscores in golfscores %}
          {% if golfscores.author == user %}
              <div class="col-md-4">
                <h1><a class="posttitle", href="{% url 'golfscore_detail' pk=golfscores.pk %}">{{ golfscores.course }}</a></h1>
                  {% partotals golfscores.par1 golfscores.par2 golfscores.par3 golfscores.par4 golfscores.par5 golfscores.par6 golfscores.par7 golfscores.par8 golfscores.par9 golfscores.par10 golfscores.par11 golfscores.par12 golfscores.par13 golfscores.par14 golfscores.par15 golfscores.par16 golfscores.par17 golfscores.par18 golfscores.score1 golfscores.score2 golfscores.score3 golfscores.score4 golfscores.score5 golfscores.score6 golfscores.score7 golfscores.score8 golfscores.score9 golfscores.score10 golfscores.score11 golfscores.score12 golfscores.score13 golfscores.score14 golfscores.score15 golfscores.score16 golfscores.score17 golfscores.score18 as partotalscores %}
                    <p class="para">{{ partotalscores.6}} over par!!</p>
                    <table class="table1">
                      <thead>
                        <tr>
                          <th>Scorecard</th>
                          <th>Par </th>
                          <th>Player Score</th>
                        </tr>
                        <tr>
                          <td>Front 9 </td>
                          <td>{{ partotalscores.0 }}</td>
                          <td>{{ partotalscores.3 }}</td>
                        </tr>
                        <tr>
                          <td>Back 9 </td>
                          <td>{{ partotalscores.1 }}</td>
                          <td>{{ partotalscores.4 }}</td>
                        </tr>
                        <tr>
                          <td>Total </td>
                          <td>{{ partotalscores.2 }}</td>
                          <td>{{ partotalscores.5 }}</td>
                        </tr>
                      </thead>
                    </table>
                  <p></p>
                  <table class="table1">
                    <tr>
                      <th>Drive </th>
                      <th>Longiron </th>
                      <th>Approach </th>
                      <th>Chip </th>
                      <th>Putt </th>
                    </tr>
                    <tr>
                      <td>{% drive golfscores.drive1 golfscores.drive2 golfscores.drive3 golfscores.drive4 golfscores.drive5 golfscores.drive6 golfscores.drive7 golfscores.drive8 golfscores.drive9 golfscores.drive10 golfscores.drive11 golfscores.drive12 golfscores.drive13 golfscores.drive14 golfscores.drive15 golfscores.drive16 golfscores.drive17 golfscores.drive18 %}% </td>
                      <td>{% longiron golfscores.longiron1 golfscores.longiron2 golfscores.longiron3 golfscores.longiron4 golfscores.longiron5 golfscores.longiron6 golfscores.longiron7 golfscores.longiron8 golfscores.longiron9 golfscores.longiron10 golfscores.longiron11 golfscores.longiron12 golfscores.longiron13 golfscores.longiron14 golfscores.longiron15 golfscores.longiron16 golfscores.longiron17 golfscores.longiron18 %}%</td>
                      <td>{% approach golfscores.approach1 golfscores.approach2 golfscores.approach3 golfscores.approach4 golfscores.approach5 golfscores.approach6 golfscores.approach7 golfscores.approach8 golfscores.approach9 golfscores.approach10 golfscores.approach11 golfscores.approach12 golfscores.approach13 golfscores.approach14 golfscores.approach15 golfscores.approach16 golfscores.approach17 golfscores.approach18 %}%</td>
                      <td>{% chip golfscores.chip1 golfscores.chip2 golfscores.chip3 golfscores.chip4 golfscores.chip5 golfscores.chip6 golfscores.chip7 golfscores.chip8 golfscores.chip9 golfscores.chip10 golfscores.chip11 golfscores.chip12 golfscores.chip13 golfscores.chip14 golfscores.chip15 golfscores.chip16 golfscores.chip17 golfscores.chip18 %}%</td>
                      <td>{% putt golfscores.putt1 golfscores.putt2 golfscores.putt3 golfscores.putt4 golfscores.putt5 golfscores.putt6 golfscores.putt7 golfscores.putt8 golfscores.putt9 golfscores.putt10 golfscores.putt11 golfscores.putt12 golfscores.putt13 golfscores.putt14 golfscores.putt15 golfscores.putt16 golfscores.putt17 golfscores.putt18 %}%</td>
                    </tr>
                  </table>
                <div class="col-xs-12" style="height:5px;"></div>
                <p class="para">{{ golfscores.published_date }}</p>
            </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
-->
