{% extends 'base.html' %}

{% block content %}
    <div class="pageheader">
      <h1 class="sitetitle">Local Golf League - New Round Data</h1>
      {% if user.is_authenticated %}
        <p class="hellouser">Hello {{ user.username }} <small>(<a class="text-muted" href="{% url 'logout' %}">Log out</a>)</small></p>
        <p><a href ="{% url 'display' %}" class="hellouser">Dashboard <span class="glyphicon glyphicon-dashboard"></span></a></p>

      {% else %}
        <a href="{% url 'login' %}" class="hellouser">Login <span class="glyphicon glyphicon-lock"></span></a>
        <a href="{% url 'register' %}" class="hellouser">Register <span class="glyphicon glyphicon-plus"></span></a>
      {% endif %}
    </div>
    <div class="linkpadding">
    </div>

    <form method="POST" class="">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button type="submit" class="save btn btn-default">Next - to data entry</button>
    </form>

{% endblock %}
