{% extends 'base.html' %}

{% block content %}
    <div class="pageheader">
      <h1 class="sitetitle">GolfData - New Round Data</h1>
      {% if user.is_authenticated %}
        <p class="hellouser">Hello {{ user.username }} <small>(<a class="text-muted" href="{% url 'logout' %}">Log out</a>)</small></p>
        <p><a href ="{% url 'display' %}" class="hellouser">Dashboard </a></p>

      {% else %}
        <a href="{% url 'login' %}" class="hellouser">Login <span class="glyphicon glyphicon-lock"></span></a>
        <a href="{% url 'register' %}" class="hellouser">Register <span class="glyphicon glyphicon-plus"></span></a>
      {% endif %}
    </div>
    <div class="linkpadding">
    </div>
    <form method="POST" autocomplete="off">{% csrf_token %}
        <p>Golf Course:
          <input placeholder="e.g.Kenilworth" size="20" for={{ form.course }}
        </p>
        <table class="Rounddata">
          <thead>
            <tr>
              <th>Hole</th>
              <th>Par</th>
              <th>Score</th>
              <th>Drive</th>
              <th>Longiron</th>
              <th>Approach</th>
              <th>Chip</th>
              <th>Putt</th>
            </tr>
          </thead>
          <tr>
            <td>{{ form.holeno1 }}</td>
            <td>{{ form.par1 }}</td>
            <td>{{ form.score1 }}</td>
            <td>{{ form.drive1 }}</td>
            <td>{{ form.longiron1 }}</td>
            <td>{{ form.approach1 }}</td>
            <td>{{ form.chip1 }}</td>
            <td>{{ form.putt1 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno2 }}</td>
            <td>{{ form.par2 }}</td>
            <td>{{ form.score2 }}</td>
            <td>{{ form.drive2 }}</td>
            <td>{{ form.longiron2 }}</td>
            <td>{{ form.approach2 }}</td>
            <td>{{ form.chip2 }}</td>
            <td>{{ form.putt2 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno3 }}</td>
            <td>{{ form.par3 }}</td>
            <td>{{ form.score3 }}</td>
            <td>{{ form.drive3 }}</td>
            <td>{{ form.longiron3 }}</td>
            <td>{{ form.approach3 }}</td>
            <td>{{ form.chip3 }}</td>
            <td>{{ form.putt3 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno4 }}</td>
            <td>{{ form.par4 }}</td>
            <td>{{ form.score4 }}</td>
            <td>{{ form.drive4 }}</td>
            <td>{{ form.longiron4 }}</td>
            <td>{{ form.approach4 }}</td>
            <td>{{ form.chip4 }}</td>
            <td>{{ form.putt4 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno5 }}</td>
            <td>{{ form.par5 }}</td>
            <td>{{ form.score5 }}</td>
            <td>{{ form.drive5 }}</td>
            <td>{{ form.longiron5 }}</td>
            <td>{{ form.approach5 }}</td>
            <td>{{ form.chip5 }}</td>
            <td>{{ form.putt5 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno6 }}</td>
            <td>{{ form.par6 }}</td>
            <td>{{ form.score6 }}</td>
            <td>{{ form.drive6 }}</td>
            <td>{{ form.longiron6 }}</td>
            <td>{{ form.approach6 }}</td>
            <td>{{ form.chip6 }}</td>
            <td>{{ form.putt6 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno7 }}</td>
            <td>{{ form.par7 }}</td>
            <td>{{ form.score7 }}</td>
            <td>{{ form.drive7 }}</td>
            <td>{{ form.longiron7 }}</td>
            <td>{{ form.approach7 }}</td>
            <td>{{ form.chip7 }}</td>
            <td>{{ form.putt7 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno8 }}</td>
            <td>{{ form.par8 }}</td>
            <td>{{ form.score8 }}</td>
            <td>{{ form.drive8 }}</td>
            <td>{{ form.longiron8 }}</td>
            <td>{{ form.approach8 }}</td>
            <td>{{ form.chip8 }}</td>
            <td>{{ form.putt8 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno9 }}</td>
            <td>{{ form.par9 }}</td>
            <td>{{ form.score9 }}</td>
            <td>{{ form.drive9 }}</td>
            <td>{{ form.longiron9 }}</td>
            <td>{{ form.approach9 }}</td>
            <td>{{ form.chip9 }}</td>
            <td>{{ form.putt9 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno10 }}</td>
            <td>{{ form.par10 }}</td>
            <td>{{ form.score10 }}</td>
            <td>{{ form.drive10 }}</td>
            <td>{{ form.longiron10 }}</td>
            <td>{{ form.approach10 }}</td>
            <td>{{ form.chip10 }}</td>
            <td>{{ form.putt10 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno11 }}</td>
            <td>{{ form.par11 }}</td>
            <td>{{ form.score11 }}</td>
            <td>{{ form.drive11 }}</td>
            <td>{{ form.longiron11 }}</td>
            <td>{{ form.approach11 }}</td>
            <td>{{ form.chip11 }}</td>
            <td>{{ form.putt11 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno12 }}</td>
            <td>{{ form.par12 }}</td>
            <td>{{ form.score12 }}</td>
            <td>{{ form.drive12 }}</td>
            <td>{{ form.longiron12 }}</td>
            <td>{{ form.approach12 }}</td>
            <td>{{ form.chip12 }}</td>
            <td>{{ form.putt12 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno13 }}</td>
            <td>{{ form.par13 }}</td>
            <td>{{ form.score13 }}</td>
            <td>{{ form.drive13 }}</td>
            <td>{{ form.longiron13 }}</td>
            <td>{{ form.approach13 }}</td>
            <td>{{ form.chip13 }}</td>
            <td>{{ form.putt13 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno14 }}</td>
            <td>{{ form.par14 }}</td>
            <td>{{ form.score14 }}</td>
            <td>{{ form.drive14 }}</td>
            <td>{{ form.longiron14 }}</td>
            <td>{{ form.approach14 }}</td>
            <td>{{ form.chip14 }}</td>
            <td>{{ form.putt14 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno15 }}</td>
            <td>{{ form.par15 }}</td>
            <td>{{ form.score15 }}</td>
            <td>{{ form.drive15 }}</td>
            <td>{{ form.longiron15 }}</td>
            <td>{{ form.approach15 }}</td>
            <td>{{ form.chip15 }}</td>
            <td>{{ form.putt15 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno16 }}</td>
            <td>{{ form.par16 }}</td>
            <td>{{ form.score16 }}</td>
            <td>{{ form.drive16 }}</td>
            <td>{{ form.longiron16 }}</td>
            <td>{{ form.approach16 }}</td>
            <td>{{ form.chip16 }}</td>
            <td>{{ form.putt16 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno17 }}</td>
            <td>{{ form.par17 }}</td>
            <td>{{ form.score17 }}</td>
            <td>{{ form.drive17 }}</td>
            <td>{{ form.longiron17 }}</td>
            <td>{{ form.approach17 }}</td>
            <td>{{ form.chip17 }}</td>
            <td>{{ form.putt17 }}</td>
          </tr>
          <tr>
            <td>{{ form.holeno18 }}</td>
            <td>{{ form.par18 }}</td>
            <td>{{ form.score18 }}</td>
            <td>{{ form.drive18 }}</td>
            <td>{{ form.longiron18 }}</td>
            <td>{{ form.approach18 }}</td>
            <td>{{ form.chip18 }}</td>
            <td>{{ form.putt18 }}</td>
          </tr>
        </table>
        {{ form.author }}
      <button type="submit" class="btn btn-warning">Save</button>
    </form>
{% endblock %}
