<!doctype html>
{% load staticfiles %}

<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Play" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Audiowide" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cherry+Cream+Soda" rel="stylesheet">
    <meta charset="utf-8">
    <title>Local Golf League</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static 'css/golfapp.css' %}">
    <link rel="shortcut icon"  href="{% static 'images/favicon (1).ico' %}" />
  </head>
  <body style="text-align:center;">
    {% block content %}
    {% endblock content %}
  </body>
</html>
